<h3>Attestation Result</h3>
<div name="message"></div>
<br>

<h4>Result</h4>

<div id="result"></div>

<h4>Detail</h4>
<div id="detail"></div>


<script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
<script>
    const resultTag = document.getElementById('result')
    const detailTag = document.getElementById('detail')
    const messageTag = document.getElementById('message')

    const VALID_MESSAGE = "It will be back...after 5 sec..."
    const INVALID_MESSAGE = "It is failed to veriy."

    const checkOneValidity = x => x.is_valid && x.edges.code.is_active

    const checkAllValidity = (data) => {
        const res = data.reduce((accumulator, current) => accumulator && checkOneValidity(current), true)
        return res
    }


    const main = async () => {
        let isValid = false
        let resp = { data: null }

        try {
            var referrer = new URL(document.referrer);
            resp = await axios.get(`/ta/${referrer.hostname}`)
            console.log(resp)
            isValid = checkAllValidity(resp.data)

        } catch (e) {
            console.error(e)
            isValid = false
        }

        resultTag.innerText = isValid ? 'valid' : 'invalid'
        messageTag.innerText = isValid ? VALID_MESSAGE : INVALID_MESSAGE
        detailTag.innerText = JSON.stringify(resp.data, null, 2)

        if (isValid) {
            setTimeout(() => {
                window.location = document.referrer
            }, 5000)
        }
    }

    main()

</script>